<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463434795558-5a0kqlh3a8ki9icesndeviblbregrcgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463434795558-5a0kqlh3a8ki9icesndeviblbregrcgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCwP2CTNqP15Oa3Ga5CxMXmuiw0qn0Ehws</string>
	<key>GCM_SENDER_ID</key>
	<string>463434795558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imaginativemonkeys.TaskBucket</string>
	<key>PROJECT_ID</key>
	<string>task-bucket-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>task-bucket-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463434795558:ios:8436d66fef3855070e74e7</string>
</dict>
</plist>
